* {
    margin: 0;
    padding: 0;
}

.para {
    color: red;
}

.newClass {
    background-color: aqua;
}

.insidediv {
    background-color: chartreuse;
    height: 100px;
    width: 100px;
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

main {
    text-align: center;
    background-color: azure;
}

.container {
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: yellow;
    color: red;
    font-size: 10vmin;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#resetBtn {
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 20px;
    border-radius: 10px;
}