#hero {
    background-image: url(../assets/img/header-bg.jpg);
    height: 780px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-box {
    display: flex;
    height: 100%;
    align-items: center;
}

.herocontent {
    color: #fff;
    width: 100%;
    text-align: center;
}


/* navbar section Start */

.navbar a {
    color: white;
    padding: 8px;
}

nav.navbar.fixed-top.navbar-expand-lg {
    padding: 24px 0px;
}

li.nav-item {
    justify-content: space-between;
    padding-right: 100px;
}

a.navbar-brand {
    color: orange;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FF9800
}


/* herocontent section start  */

.head-content h1 {
    margin-bottom: 16px;
}

.head-content p {
    margin-bottom: 64px;
}

.service-icon {
    display: flex;
}

.service-icon i {
    background-color: orange;
    padding: 40px;
    border-radius: 50%;
}

.icon i {
    font-size: 90px;
    color: #faf7f7;
}

.herocontent h1 {
    margin: 0px 0px 48px;
    font-size: 70px;
}

button.btn {
    background: orange;
    padding: 20px 40px;
    font-size: 20px;
    color: #fff;
}

button.btn :hover {
    background: rgb(221, 144, 2);
}


/* portfolio section start */

.allsection {
    padding: 90px 0px;
}

#portfolio {
    background-color: lightsteelblue;
}

#portfolio img {
    width: 100%;
}

.portfolio-caption {
    color: #090808;
    background-color: #fff;
    padding: 25px;
}

@media (max-width:768px) {
    #hero {
        height: 500px;
    }
}

@media (max-width:500px) {
    #hero {
        height: 300px;
    }
}


/* about section start */

.aboutimg img {
    border-radius: 50%;
}

ul,
li {
    list-style: none;
}

.aboutimg {
    display: flex;
    justify-content: center;
}